
.list{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: blue ; margin: 10px;
}

.style {
    font-family: Arial, Helvetica, sans-serif; background-color: #f0f0f0;
    
}
.style1 {
    background-color:  #333; 
    color: white;
    text-align: center;
    padding: 10px;
}

.style2 {
    margin: 20px;
} 

.sstyle {
    border: 1px solid rgb(0, 0, 0); 
    width: 100%;
}

.style3 {
    background-color: #333; 
    color: rgb(255, 255, 255)
}

.button {
    background-color: rgb(45, 128, 65); 
    color: white; 
    padding: 5px;

}

.color {
    color: red;
}

.footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px;
}